/* ##################### Reset ###################### */
html, body, header, #game, #wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: cursive;
    background-color: rgb(30, 30, 30);
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.img-fit {
    object-fit: cover;
    object-position: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ##################### global ###################### */
html, body {
    height: 100%;
}

main {
    position: relative;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.btn-transparent {
    background-color: transparent;
    border: none;
}

.hide-important {
    display: none !important;
}

.hide {
    display: none;
}

.content-menu {
    position: absolute;
    width: 50%;
}

.page-menu {
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
}

.color-or {
    color: orange !important;
}

/* ######################## scrollbar #################### */

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* ######################## logo ######################### */

.logo-container {
    width: 10%;
    /* z-index: 1; */
    position: absolute;
    bottom: 3vh;
    left: 4vh;
    animation: rotation 10s infinite;
}

/* ##################### spinner #######################*/
#loader {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.spinner div {
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: orange;
    margin: -4px 0 0 -4px;
}

.spinner div:nth-child(1) {
    animation-delay: -0.036s;
}

.spinner div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.spinner div:nth-child(2) {
    animation-delay: -0.072s;
}

.spinner div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.spinner div:nth-child(3) {
    animation-delay: -0.108s;
}

.spinner div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.spinner div:nth-child(4) {
    animation-delay: -0.144s;
}

.spinner div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.spinner div:nth-child(5) {
    animation-delay: -0.18s;
}

.spinner div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.spinner div:nth-child(6) {
    animation-delay: -0.216s;
}

.spinner div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.spinner div:nth-child(7) {
    animation-delay: -0.252s;
}

.spinner div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.spinner div:nth-child(8) {
    animation-delay: -0.288s;
}

.spinner div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ######################## header ########################## */
header {
    z-index: 1;
    height: 7%;
    min-height: 30px;
    position: absolute;
    top: 0;
}

#head-menu {
    margin-top: 1%;
    display: flex;
    width: 99.3%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.828);
    box-shadow: 0px 1vh 3vh 3vh rgba(0, 0, 0, 0.828);
}

/* - header nav-bar  */
nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

ul {
    flex-grow: 2;
}

/* #player-info {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
} */

#account {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 1vh;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
}

#player-name, #player-rating {
    color: white;
    padding: 0 2% 0 0;
}

.nav-btn {
    border: none;
}

/* ################## connect menu ########################*/
/* - formulaire */

#form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.638);
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.638);
    border-radius: 2vh;
    /* min-width: 310px; */
    margin: 0;
    z-index: 5;
}

.form form {
    margin: 0;
    width: 100%;
}

.form h1 {
    text-align: center;
    margin: 0;
    padding: 2% 0 2% 0;
}

.form-control {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: orange;
    padding: 1% 1.2% 1% 0;
    margin: 3% 0 3% 0;
    border-radius: 0 0.4rem 0.4rem 0;
}

.form-control::after {
    content: "";
    position: absolute;
    width: 60%;
    max-height: 1px;
    right: 6%;
    bottom: 25%;
    border-bottom: 1px solid white;
}

.form-control label {
    text-align: center;
    width: 30%;
    padding: 2% 0 2% 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.form-control input {
    flex-grow: 1;
    background-color: transparent;
    padding: 0 4% 0 4%;
    border: 1px solid white;
    border-radius: 0 0.3rem 0.3rem 0;
}


.form-control input:active {
    padding: 0;
    border: 1px solid white;
}

.form .btn-container {
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-container-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.form #new-user-btn {
    background-color: transparent;
    border: 1px solid orange;
    padding: 1%;
    margin: 1% 0 0 5%;
}

.form .submit-btn {
    display: block;
    width: 20%;
    padding: 2% 0 2% 0;
    margin: 0 0 3% 0;
    background-color: orange;
    border: 5px solid white;
    border-right: none;
    box-shadow: -1px 0px 0px 1px orange,
        -1px 1px 0px 1px orange,
        -1px -1px 0px 1px orange,
        10px 0px 10px 0px orange;
    border-radius: 10px 0 0 10px;
}

/* ################## game menu principal ###################### */
/* mode-menu */

#menu-principal h1 {
    text-align: center;
    font-size: 3rem;
}

#mode-menu-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#mode-menu {
    width: 40%;
    max-width: 400px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 250px;
    margin-right: 5%;
}

/*########################## leaderboard ##############################  */

#leaderboard-container {
    margin-top: 2%;
    margin-left: 2%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*- leaderboard table */
#leaderboard table {
    background-color: rgba(39, 39, 109, 0.774);
    text-align: center;
    border-radius: 2vh;
    width: 50%;
}

#leaderboard table, #leaderboard th, #leaderboard td {
    /* border-collapse: collapse; */
    border: 1px solid white;
    border-radius: 2vh;
    font-size: 1.5rem;
}

.table-pseudo {
    width: 30%;
    padding: 2%;
}

.table-elo {
    width: 10%;
}

.table-pos {
    width: 10%;
}

#leaderboard td {
    color: white;
    padding: 1%;
}

td:first-child {
    text-align: start;
    padding-left: 2% !important;
}

/* - leaderboard player info*/

#leaderboard-player-info {
    margin-left: 40%;
    height:50%;
    width: 50%;
    color: white;
    font-size: 1.5rem;
}

#leaderboard-player-pseudo {
    margin: 5% 0 5% 0;
}


/* ####################### shop ######################## */

#shop-bonus ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shop-cart {
    background-color: #801502;
    width: 27.3%;
    text-align: center;
    margin: 2%;
    padding: 1%;
    border-radius: 2%;
}

.shop-cart div {
    position: relative;
}

.shop-cart img {
    width: 80%;
    border: 2px solid rgb(128, 86, 8);
    background-color: rgb(34, 9, 14);
}

.shop-cart div p {
    position: absolute;
    bottom: -0.5vh;
    right: -0.5vw;
    margin: 0;
    color: white;
    border-radius: 50%;
    border: 2px solid rgb(128, 86, 8);
    text-align: center;
    font-size: 1rem;
    background-color: #000000;
}

#buy-items {
    background-color: transparent;
    border: none;
    text-align: center;
    align-content: center;
}

#items-btn {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#coin-items, #icons-items, #coin-items, #emots-items, #skin-items,#bonus-items, #inventory-menu {
    padding: 4%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr;
    grid-gap: 20%;
}

#coin-items button, #icons-items button, #coin-items button, #emots-items button, #skin-items button, #bonus-items button, #inventory-menu button {
    text-align: center;
    align-items: center;
    border: 2px solid #b6422d;
    background-color: transparent;
    width: 200px;
    height: 200px;
}

#coin-items p, #icons-items p, #coin-items p, #emots-items p, #skin-items p,#bonus-items p, #inventory-menu p {
    color: #fff;
    margin-top: 80%;
}

#coin-items h3, #icons-items h3, #coin-items h3, #emots-items h3, #skin-items h3, #bonus-items h3, #inventory-menu h3 {
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: -5%;
}

.tooltip {
    position : absolute;
    padding : 1em;
    z-index : 45;
    border: 2px solid #333;
    border-radius: 2%;
    color : #fff;
    width: 15%;
    text-align : center;
    background : rgba(0, 0, 0, 0.3);
    font-size : 20px;
}


#bgPanel {
    display: flex;
    margin-top: 5%;
    margin-left: 25%;
    width: 65%;
    height:550px;
    background-image: url("https://ik.imagekit.io/mbo2hq52r/assets/content_rtQg2N7EGC.png?ik-sdk-version=javascript-1.4.3&updatedAt=1664045674110");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#panel button {
    position: relative;
    background-color: transparent;
    border: none;
}

#panel {
    margin-top: 2%;
    margin-left: 6%;
    width: 20%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* ####################### game ######################### */

/* #################### begin menu #################### */
.hideGame {
    display: none !important;
}

.clignote {
    background-color: transparent;
    box-shadow: 0 0 100px black;
    animation: clignote 2s linear;
}

@keyframes clignote {
    50% {
        opacity: 0;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

#gouvernail {
    animation: rotation 2s infinite linear;
    position: absolute;
    margin-bottom: 20%;
    margin-left: 80%;
    width: 20%;
}

#load {
    position: absolute;
    margin-bottom: 27%;
    margin-left: 110%;
    width: 20%;
}

#menu-principal-btn {
    margin-left: -1%;
    width: 116%;
    /* margin: -5px; */
    background-color: transparent;
    border: none;
}

#leaderboard-btn {
    width: 116%;
    /* margin: -5px; */
    background-color: transparent;
    border: none;
}

#shop-btn {
    margin-left: -2%;
    width: 116%;
    /* margin: -5px; */
    background-color: transparent;
    border: none;
}

#player-info {
    margin-left: -9%;
    width: 116%;
    background-color: transparent;
    border: none;
}

/* #################### global #################### */

#background, #wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-rules {
    background-color: transparent;
    border: none;
    width: 15%;
    position: absolute;
    z-index: 5;
    margin-left: 86%;
    margin-bottom: 44%;
}

#rulesImg {
    filter: brightness(0.7);
    background-color: transparent;
    border: none;
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#rules {
    position: absolute;
    width: 100%;
}

#oppacity {
    background-color: black;
    top: 0;
    left: 0;
    opacity: 60%;
    border: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 8;
}

#returnToTheGame {
    background-color: transparent;
    display: none;
    border: none;
    width: 15%;
    position: absolute;
    z-index: 11;
    left: 25%;
    top: 70%;

}

/* #################### background ####################*/
#loading {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    z-index: 100;
}

#load-info {
    position: absolute;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#load-info p {
    width: 100%;
    color: black;
    font-size: 3vw;
}

#background {
    position: relative;
    width: 100%;
    height: 100%;
}

#fond {
    position: absolute;
    z-index: 1;
}

#fond2 {
    position: absolute;
    z-index: 1;
}

.fond {
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

#nappe {
    position: absolute;
    z-index: 2;
}

#cadre {
    position: absolute;
    z-index: 3;
}

#lore {
    border: none;
    background-color: transparent;
    position: absolute;
    margin-top: 35%;
    margin-right: 65%;
    width: 20%;
    z-index: 7;
}

/* #################### rolls #################### */

#rolls {
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: row-reverse;
    transform: rotate(360deg);
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#ui-haut, #ui-bas {
    height: 50%;
    width: 20%;
}

#ui-haut {
    margin-left: 2%;
    margin-bottom: 33%;
}

#ui-bas {
    margin-top: 30%;
    margin-right: 3%;
}

#roll-bas {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    height: 80%;
}

#roll-haut {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

#roll-bas img, #roll-haut img {
    cursor: pointer;
    position: absolute;
}

.choice-dice {
    border-radius: 20%;
    width: 30%;
}

#score2 {
    transform: rotate(180deg);
    width: 80%;
    margin-bottom: 110%;
    margin-right: 37%;
    position: relative;
}

#score1 {
    width: 80%;
    margin-top: 110%;
    margin-left: 37%;
    position: relative;
}

.totalScore1 {
    z-index: 5;
    position: relative;
    margin-left: -3%;
    margin-top: 114%;
    height: 10%;
}

.totalScore2 {
    z-index: 5;
    position: relative;
    margin-left: 3%;
    margin-bottom: 114%;
    height: 10%;
}

#namePlayer2 {
    z-index: 5;
    position: absolute;
    right: 18.5%;
    margin-top: 9%;
}

#namePlayer1 {
    z-index: 5;
    position: absolute;
    left: 15.5%;
    margin-bottom: 12.5%;
}

.totalScore1, .totalScore2, .columnScore1, .columnScore2 {
    color: white;
    text-align: center;
    font-size: 1.5vw;
}

#namePlayer1, #namePlayer2 {
    color: white;
    text-align: center;
    font-size: 1.5vw;
}

/* #################### grid #################### */

#grids {
    position: absolute;
    height: 100%;
    width: 40%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grille1 {
    transform: rotate(180deg);
    flex-direction: row-reverse;
}

.grille {
    padding: 5%;
    display: flex;
    width: 60%;
    height: 40%;
}

.col {
    padding: 5%;
    flex: 1;
}

.columnScore1 {
    transform: rotate(180deg);
}

.columnScore1, .columnScore2 {
    min-height: 12%;
}

.case {
    cursor: pointer;
    border: solid 0.3rem #801502;
    border-radius: 15%;
    padding: 4%;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    height: 20%;
    display: flex;
    z-index: 3;
    justify-content: center;
    align-items: center;
}

.case img {
    /* border-radius: 15%; */
}

.case-hover:hover {
    border-color: orange;
}

/* ##################### inventory ####################*/

#inventory-btn {
    position: absolute;
    z-index: 30;
}

#inventory-menu {
    color: white;
    position: absolute;
    z-index: 40;
    width: 65%;
    height: 60%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 55%, rgba(119, 13, 13, 1) 100%);
    border: 2px solid rgb(255, 136, 0);
    overflow: auto;
}

#inventory-menu h1 {
    display: inline-block;
    border-bottom: 1px solid white;
    padding: 0 15% 1% 0;
    margin-left: 2%;
}

#inventory-menu>div {
    display: flex;
    flex-direction: row;
}

#inventory-items ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#inventory-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    min-width: 40px;
}

.bg-hover-orange:hover {
    background-color: orange;
}

/* ################## bet ####################### */

#bet {
    position: absolute;
    z-index: 30;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000b8;
}

#bet-form {
    width: 20%;
}

#bet form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    margin: 0 auto;
}

#bet form label {
    color: white;
    font-size: 2vh;
    margin: 3%;
}

#bet form input {
    background-color: #0000008f;
    border: none;
    border-radius: 5px;
    height: 6vh;
    width: 100%;
    min-height: 20px;
    max-height: 80px;
    color: white;
    font-size: 3vh;
    text-align: center;
}

#bet form button {
    margin: 5%;
}

/* ################## end menu ################## */

.quit {
    position: absolute;
    margin-bottom: -35%;
    width: 14%;
    cursor: pointer;
}

#quitGame {
    filter: drop-shadow(0 0 30rem rgb(255, 179, 0));
    border: none;
    background-color: transparent;
    position: absolute;
    margin-top: 45%;
    margin-right: 86%;
    width: 7%;
    z-index: 7;
}

#end-menu {
    filter: none;
    animation: fadeIn 5s;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#parchemin {
    filter: brightness(0.7);
    margin-top: 10%;
    position: relative;
    width: 75%;
    padding-bottom: 9%;
}

.score-txt {
    position: absolute;
    text-align: center;
    top: 32%;
    width: 100%;
    font-family: cursive;
    font-size: 3vw;
    color: rgb(70, 23, 0);
    margin: 0;
}

.reset {
    display: flex;
    position: absolute;
    margin-bottom: -30%;
    margin-right: 10%;
    width: 12%;
    cursor: pointer;
}

#resetBtn {
    margin-top: 8.6%;
    width: 80%;
    height: 80%;
}


/* ################## animation ################## */

#btn-rules:hover, #returnToTheGame:hover, #lore:hover, #redirectionSolo:hover, #redirectionMulti:hover, .reset:hover, #quitGame:hover {
    transform: scale(1.05)
}

#btn-rules:active, #returnToTheGame:active, #lore:active, #redirectionSolo:active, #redirectionMulti:active, .reset:active, #quitGame:active {
    transform: scale(1)
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes vibrate {
    0%, 2%, 4%, 6%, 8%, 10%, 12%, 14%, 16%, 18% {
        -webkit-transform: translate3d(-1px, 0, 0);
        transform: translate3d(-1px, 0, 0);
    }

    1%, 3%, 5%, 7%, 9%, 11%, 13%, 15%, 17%, 19% {
        -webkit-transform: translate3d(1px, 0, 0);
        transform: translate3d(1px, 0, 0);
    }

    20%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes brum {
    0% {
        filter: blur(0);
    }

    0% {
        filter: blur(2);
    }

    100% {
        filter: blur(0);
    }
}

.fadeIn {
    animation: fadeIn 10s;
}

.explode {
    transform: scale(6.2);
    z-index: 9;
    background-color: transparent;
}

.vibrate {
    /* border: 0.3rem dashed rgba(255,255,255,1); */
    /* box-shadow: -1px -1px 10px 2px  yellow;  */
    animation: fire 5s infinite;
}

@keyframes fire {
    0% {
        box-shadow: 0px 0px 10px 2px  yellow; 
        box-shadow: 0px 0px 7px 2px  orange; 
    }
    25% {
        box-shadow: 1px 1px 7px 2px  orange; 
    }
    50% {
        box-shadow: 1px 1px 10px 2px  yellow; 
        box-shadow: 0px 0px 7px 2px  orange; 
    }
    75% {
        box-shadow: 1px 1px 7px 2px  orange; 
    }
    100% {
        box-shadow: 0px 0px 10px 2px  yellow; 
        box-shadow: 0px 0px 7px 2px  orange; 
    }
}


.brum {
    animation: brum 3s;
}

#begin {
    z-index: 0;
    position: fixed;
}

#oppacity, #rulesImg, #returnToTheGame {
    display: none;
}